.options {
    background-color: var(--background-color);
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
  }

  button {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 16px;
    font-size: 16px;
    border-style: none;
    border-color: var(--border-color);
    border-radius: 15px; 
    transition: filter 0.1s ease-in-out;
  }
  
  .button-clicked {
    background-color: var(--background-color);
    color: var(--accent-color);
    padding: 16px;
    font-size: 16px;
    border-style: none;
    border-color: var(--border-color);
    border-radius: 15px; 
  }

  #typing-test {
    margin-top: 10vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  