.card {
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.card1 {
    display: flex;
    align-items: flex-start;
    background-color: none;
    margin-left: 400px;
    margin-right: 300px;
    margin-top: -30px;
    border-radius: 10px;
    position: relative; /* Add position: relative to the .card container */
}

.profile-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.profile-image {
    margin-top: 10px;    
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: solid;
    border-width: 1px;
}

.profile-info {
    margin-left: 20px;
}

.profile-name {
    font-size: 25px;
}

.caption {
    color: var(--text-color);
    font-size: smaller;
    margin-top: -20px;
}

.profile-button {
    margin-left: 30px;
    margin-top: 30px;
}

.logout {
    background-color: var(--main-color);
    border: solid;
}

.follow {
    background-color: var(--main-color);
    border: solid;
}

.add-following {
    margin-left: 325px;
    margin-top: 40px;
}

.main-body {
    display: flex;
    align-items: flex-start;
}

.tests-card {
    margin-left: 400px;
    margin-top: 30px;
    border: solid;
    padding-left: 15px;
    border-radius: 10px;
    width: 500px;
    height: 713px;
    overflow-y: auto;
}

.score-card {
    background-color: var(--main-color);
    border-radius: 16px;
    padding: 5px;
    margin-top: 10px;
    margin-left: -20px;
    width: 400px;
    border: solid;
    display: flex;
}

.penguin-icon {
    margin-right: 10px;
    margin-bottom: 55px;
    font-size: 20px;
}

.stats-card {
    margin-left: 30px;
    margin-top: 30px;
    border: solid;
    padding-left: 15px;
    border-radius: 10px;
    width: 488px;
    height: 340px;
}

.avg-stats {
    display: flex;
    text-align: center;
}

.max-stats {
    display: flex;
    text-align: center;
    margin-top: 10px;
}

.avg-wpm {
    background-color: var(--main-color);
    border: solid;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 10px;
    text-align: center;
}

.max-wpm {
    background-color: var(--main-color);
    border: solid;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 10px;
    text-align: center;
}

.avg-acc {
    background-color: var(--main-color);
    border: solid;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 10px;
    text-align: center;
}

.avg-score {
    background-color: var(--main-color);
    border: solid;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 10px;
    text-align: center;
}

.wpm {
    margin-top: 15px;
    font-size: 30px;
}

.acc {
    margin-top: 15px;
    font-size: 30px;
}

.score {
    margin-top: 15px;
    font-size: 30px;
}

.follow-cards {
    display: flex;
}

.main-follower-card {
    margin-left: 30px;
    margin-top: 30px;
    border: solid;
    padding-left: 15px;
    border-radius: 10px;
    width: 220px;
    height: 340px;
    overflow-y: auto;
}

.follower-card {
    margin-top: 10px;
    margin-left: -30px;
    margin-bottom: 20px;
    padding: 5px;
    width: 150px;
}

.follower-image {
    margin-top: 10px;   
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: solid;
    border-width: 1px;
}

.follower-name {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.follower-info a {
    margin-top: -40px;
    margin-left: 65px;
    display: block;
}

.main-following-card {
    margin-left: 30px;
    margin-top: 30px;
    border: solid;
    padding-left: 15px;
    border-radius: 10px;
    width: 220px;
    height: 340px;
    overflow-y: auto;
}

.card-img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    position: absolute;
    margin-left: -500px;
    margin-top: 40px;
    border-radius: 50%;
}

.button1 button{
    background-color: var(--accent-color);
    margin-left: 800px;
    margin-right: 800px;
    margin-top: 50px;
    border-radius: 10px;
}

.search-bar {
    margin-top: 8px;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 20px;
}

.profile-info-button {
    padding: 5px 10px;
    cursor: pointer;
    background: var(--main-color);
    padding: 3px;
    margin: 0;
    border: 0;
  }