:root {
  --main-color: #ffe5b4;
  --accent-color: #ef820d;
  --text-color: black;
  --correct-color: black;
  --incorrect-color: #ef820d;
  --underlaying-text-color: gray;
  --border-color: black;
  --whole-page-background-color: white;
  --background-color: white;
  --button-color: lightgrey;
} 

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.constant-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {

  height: 12vh;
  width: 100vw;
  margin-top: 2vh;
  display:flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  gap: 10px;
}

.logo-link {
  height: 100%;
}

img#logo {
  height: 80%;
}

div.title {
  font-size: 64px;
  
}

div.title>p {
  margin:0;
}

div.title>a {
margin:0;
}

p.subtext {
  font-size: 15px;
}


/* This is temporary. Remove later */
label {
  display:block;
  margin-bottom: 10px;
}

a.logo-link {
  display: flex;
  align-items: center;
}

a:visited {
  color: var(--text-color);
}
.light {
  --main-color: #ffe5b4;
  --accent-color: #ef820d;
  --text-color: black;
  --correct-color: black;
  --incorrect-color: #ef820d;
  --underlaying-text-color: gray;
  --border-color: black;
  --whole-page-background-color: white;
  --background-color: white;
  --button-color: lightgrey;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.dark {
  --main-color: darkgrey;
  --accent-color: #ef820d;
  --text-color: white;
  --correct-color: white;
  --incorrect-color: red;
  --underlaying-text-color: lightgray;
  --border-color: white;
  --whole-page-background-color: #48494b;
  --background-color: #48494b;
  --button-color: #828282;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.dark-blue-accent {
  --main-color: #828282;
  --accent-color: white;
  --text-color: lightblue;
  --correct-color: lightblue;
  --incorrect-color: red;
  --underlaying-text-color: lightgray;
  --border-color: white;
  --whole-page-background-color: #48494b;
  --background-color: #48494b;
  --button-color: #828282;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.light-blue-accent {
  --main-color: white;
  --accent-color: #598baf;
  --text-color: black;
  --correct-color: black;
  --incorrect-color: red;
  --underlaying-text-color: gray;
  --border-color: black;
  --whole-page-background-color: white;
  --background-color: white;
  --button-color: lightgrey;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.dark-panda {
  --main-color: black;
  --accent-color: white;
  --text-color: white;
  --correct-color: white;
  --incorrect-color: red;
  --underlaying-text-color: grey;
  --border-color: white;
  --whole-page-background-color: black;
  --background-color: black;
  --button-color: #191919;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.polar-bear {
  --main-color: white;
  --accent-color: black;
  --text-color: black;
  --correct-color: black;
  --incorrect-color: red;
  --underlaying-text-color: lightgray;
  --border-color: black;
  --whole-page-background-color: white;
  --background-color: white;
  --button-color: #f8f8ff;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.red {
  --main-color: #d30000;
  --accent-color: #d30000;
  --text-color: white;
  --correct-color: #d30000;
  --incorrect-color: black;
  --underlaying-text-color: white;
  --border-color: black;
  --whole-page-background-color: #ee6b6e;
  --background-color: #ee6b6e;
  --button-color: #7c0a03;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.orange {
  --main-color: white;
  --accent-color: #b64000;
  --text-color: black;
  --correct-color: white;
  --incorrect-color: red;
  --underlaying-text-color: #b64000;
  --border-color: #8b4000;
  --whole-page-background-color: #fda172;
  --background-color: #fda172;
  --button-color: #ff964f;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.blue {
  --main-color: white;
  --accent-color: white;
  --text-color: #006884;
  --correct-color: white;
  --incorrect-color: red;
  --underlaying-text-color: #006884;
  --border-color: black;
  --whole-page-background-color: #a9c7ee;
  --background-color: #a9c7ee;
  --button-color: #afdae0;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.purple {
  --main-color: white;
  --accent-color: white;
  --text-color: #8968cd;
  --correct-color: #371f76;
  --incorrect-color: red;
  --underlaying-text-color: white;
  --border-color: #371f76;
  --whole-page-background-color: #cea2fd;
  --background-color: #cea2fd;
  --button-color: white;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.ucla {
  --main-color: #89cfef;
  --accent-color: #89cfef;
  --text-color: yellow;
  --correct-color: yellow;
  --incorrect-color: red;
  --underlaying-text-color: #89cfef;
  --border-color: black;
  --whole-page-background-color: #0f52ba;
  --background-color: #0f52ba;
  --button-color: #89cfef;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.chiefs {
  --main-color: black;
  --accent-color: white;
  --text-color: yellow;
  --correct-color: yellow;
  --incorrect-color: lightgrey;
  --underlaying-text-color: black;
  --border-color: black;
  --whole-page-background-color: #d30000;
  --background-color: #d30000;
  --button-color: black;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.pink {
  --main-color: #ff69b4;
  --accent-color: #ff69b4;
  --text-color: white;
  --correct-color: #ff69b4;
  --incorrect-color: black;
  --underlaying-text-color: white;
  --border-color: black;
  --whole-page-background-color: pink;
  --background-color: #ffc0cb;
  --button-color: #ff69b4;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.puke {
  --main-color: #e5d3b3;
  --accent-color: #ccff66;
  --text-color: #7b3f00;
  --correct-color: #7b3f00;
  --incorrect-color: red;
  --underlaying-text-color: grey;
  --border-color: black;
  --whole-page-background-color: #a3cc52;
  --background-color: #a3cc52;
  --button-color: #3d550c;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.terminal {
  --main-color: #2e2e2e;
  --accent-color: #00ff00;
  --text-color: white;
  --correct-color: #00ff00;;
  --incorrect-color: red;
  --underlaying-text-color: white;
  --border-color: black;
  --whole-page-background-color: #111111;
  --background-color: #111111;
  --button-color: #2e2e2e;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.chatgpt {
  --main-color: grey;
  --accent-color: white;
  --text-color: #ffcc33;
  --correct-color: #ffcc33;
  --incorrect-color: red;
  --underlaying-text-color: grey;
  --border-color: black;
  --whole-page-background-color: darkgrey;
  --background-color: darkgrey;
  --button-color: grey;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.watermelon {
  --main-color: rgb(238, 200, 225);
  --accent-color: rgb(239, 223, 226);
  --text-color: #ff3377ea;
  --correct-color: #ff3377ac;
  --incorrect-color: red;
  --underlaying-text-color: #ff33775d;
  --border-color: black;
  --whole-page-background-color: rgba(0, 128, 0, 0.444);
  --background-color: rgb(68, 169, 68);
  --button-color: rgb(248, 207, 214);
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.dark-purple {
  --main-color: black;
  --accent-color: white;
  --text-color: #b026ff;
  --correct-color: white;
  --incorrect-color: #800020;
  --underlaying-text-color: #b026ff;
  --border-color: black;
  --whole-page-background-color: black;
  --background-color: black;
  --button-color: white;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.slot-machine {
  --main-color: #F08080
  --accent-color: #4682B4;
  --text-color: #32CD32;
  --correct-color: #FFD700;
  --incorrect-color: #8A2BE2;
  --underlaying-text-color: #FF6347;
  --border-color: #00FFFF;
  --whole-page-background-color: #800080;
  --background-color: #800080;
  --button-color: #FFA07A;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.white {
  --main-color: white;
  --accent-color: white;
  --text-color: white;
  --correct-color: white;
  --incorrect-color: white;
  --underlaying-text-color: white;
  --border-color: white;
  --whole-page-background-color: white;
  --background-color: white;
  --button-color: white;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}