:root {
  --main-color: white;
  --accent-color: #ef820d;
  --text-color: black;
  --underlaying-text-color: gray;
  --border-color: black;
  --whole-page-background-color: white;
  --background-color: #f7e7ce;
} 

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.constant-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {

  height: 12vh;
  width: 100vw;
  margin-top: 2vh;
  display:flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  gap: 10px;
}

.logo-link {
  height: 100%;
}

img#logo {
  height: 80%;
}

div.title {
  font-size: 64px;
  
}

div.title>p {
  margin:0;
}

div.title>a {
margin:0;
}

p.subtext {
  font-size: 15px;
}


/* This is temporary. Remove later */
label {
  display:block;
  margin-bottom: 10px;
}



a:visited {
  color: var(--text-color);
}

.dark {
  --main-color: black;
  --accent-color: #ef820d;
  --text-color: white;
  --underlaying-text-color: lightgray;
  --border-color: white;
  --whole-page-background-color: #48494b;
  --background-color: #828282;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.dark-blue-accent {
  --main-color: black;
  --accent-color: lightblue;
  --text-color: white;
  --underlaying-text-color: lightgray;
  --border-color: white;
  --whole-page-background-color: #48494b;
  --background-color: #828282;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.light-blue-accent {
  --main-color: white;
  --accent-color: #598baf;
  --text-color: black;
  --underlaying-text-color: gray;
  --border-color: black;
  --whole-page-background-color: white;
  --background-color: #f7e7ce;;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.dark-panda {
  --main-color: black;
  --accent-color: white;
  --text-color: white;
  --underlaying-text-color: lightgray;
  --border-color: white;
  --whole-page-background-color: black;
  --background-color: #191919;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.polar-bear {
  --main-color: white;
  --accent-color: black;
  --text-color: black;
  --underlaying-text-color: lightgray;
  --border-color: black;
  --whole-page-background-color: white;
  --background-color: #f8f8ff;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.red {
  --main-color: black;
  --accent-color: #d30000;
  --text-color: white;
  --underlaying-text-color: darkgray;
  --border-color: black;
  --whole-page-background-color: #ee6b6e;
  --background-color: #7c0a03;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.orange {
  --main-color: white;
  --accent-color: #b64000;
  --text-color: black;
  --underlaying-text-color: gray;
  --border-color: #8b4000;
  --whole-page-background-color: #fda172;
  --background-color: #ff964f;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.blue {
  --main-color: white;
  --accent-color: #006884;
  --text-color: black;
  --underlaying-text-color: gray;
  --border-color: black;
  --whole-page-background-color: #a9c7ee;
  --background-color: #afdae0;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}

.purple {
  --main-color: white;
  --accent-color: #371f76;
  --text-color: white;
  --underlaying-text-color: #371f76;
  --border-color: #371f76;
  --whole-page-background-color: #8968cd;
  --background-color: #cea2fd;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.ucla {
  --main-color: white;
  --accent-color: blue;
  --text-color: yellow;
  --underlaying-text-color: blue;
  --border-color: black;
  --whole-page-background-color: #0f52ba;
  --background-color: #89cfef;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}
.chiefs {
  --main-color: black;
  --accent-color: #ffbf00;
  --text-color: yellow;
  --underlaying-text-color: white;
  --border-color: black;
  --whole-page-background-color: #d30000;
  --background-color: black;
  background-color: var(--whole-page-background-color);
  color: var(--text-color);
}